.main-wrapper {
  min-height: 80%;

  &.layout-fixed-margin {
    /*из-за того что header fixed*/
    @media (min-width: $bp-medium + 0.1em) {
      margin-top: 50px;
    }
    @media (max-width: $bp-small) {
      margin-top: 40px;
    }
  }
}

.main-article {

}
