.success-message {
  position: absolute;
  //top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10px;
  color: black;
  min-height: 100px;
  //height: 100%;
  max-height: 190px;
  min-width: 320px;
  max-width: 350px;
  font-size: 16px;
  z-index: 500;
  margin-top: 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_color {
    //height: 100%;
    //width: 25px;
    //background-color: #73ae37;
  }

  &_content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    align-items: flex-end;


  }
  &_close {
    //position: absolute;
    //top: 4px;
    //right: 6px;
    background-color: #73ae37;
    text-align: end;
    padding: 3px 10px 0 0;
    font-size: 30px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    color: white;
    cursor: pointer;
    &:hover {
      color: $pink_color;
    }
  }

  &_text {
    letter-spacing: 1.5px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    gap: 10px;
    padding: 10px;
    .notify_top {

    }

    .notify_bottom {
      font-weight: 700;
      color: red;

      a {
        display: inline-block;
        border-bottom: 1px dashed red;
        //text-decoration: dashed;
        margin-top: 5px;
      }
    }
  }
}

.error-message {

}

.success-message.manage-users-message {
  position: fixed;

  @media (min-width: $bp-small) {
    position: fixed;
    right: 40px;
    left: unset;
    transform: unset;
    bottom: 10px;
  }
}