.posts-page {

  .layout-posts_header {
    min-height: 0;
  }

  &_breadcrumbs {
    color: $content-font-color;

  }
    &_content {
    color: $content-font-color;
  }

  .catalog-posts_list {
    @media (max-width: $bp-small) {
      gap: 20px;
    }
  }

  .catalog-posts_card {
    min-height: 250px;
    max-height: 370px;
    @media (max-width: $bp-small) {
      max-height: 340px;
    }
  }
}

