@media (max-width: $bp-small) {
  .recipe-add {
    padding: 30px 0;
  }

  .recipe-add_title {
    padding-left: 20px;
  }
}

  .wp-editor-tabs {
  display: none;
}

.wp-editor-tools {
  display: none;
}

.mce-top-part .mce-container .mce-stack-layout-item .mce-first {
  display: none;
}

.mce-container-body .mce-stack-layout {
  display: none;
}

div .mce-toolbar-grp {
  border-bottom: none !important;
}

.mce-statusbar .mce-container .mce-panel .mce-stack-layout-item .mce-last {
  display: none !important;
}

div.mce-statusbar {
  display: none !important;
}

#acf-editor-53_ifr {
  height: 200px !important;
}

.acf-editor-wrap .wp-editor-container {
  border: none !important;
}

/*Images of recepie*/
.acf-fr {
  display: none !important;
}

.acf-fields > .acf-field {
  border: none !important;
}

.acf-gallery {
  border: none !important;

}

.acf-gallery-toolbar .acf-gallery-add {
  margin: 10px;
  color: white;
  background-color: #73ae37;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  max-height: 40px;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 17px;
  border-radius: 2px;
}

.acf-repeater-add-row {
  margin: 10px 0;
  color: white;
  background-color: #73ae37;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  max-height: 40px;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 17px;
  border-radius: 2px;
}

.acf-table > thead > tr > th {
  border-width: 0 0 1px 0 !important;
}

.acf-hl {
  display: flex !important;
  justify-content: center;
}

.acf-gallery .acf-gallery-toolbar {
  border-top: none !important;
}

.acf-repeater .acf-row-handle  {
  display: none !important;
}

.acf-table {
  border: none !important;
}

.acf-table > tbody > tr > td {
  border-width: 1px 1px 0 0 !important;
}

.acf-table > thead > tr > th {
  border-color: #eeeeee !important;
  border-width: 0 !important;
  text-align: center !important;
}

.acf-th {

}

.acf-row {
  @media (max-width: $bp-small) {
    display: flex;
    flex-direction: column;
  }
  .acf-field {
    //width: 100%;
  }
}

.acf-th[data-key="field_65832495be698"] {
  @media (max-width: $bp-small) {
    display: none !important;
  }
}

.acf-fields.-border {
  border: none !important;
}

.acf-th[data-key="field_658b2aae78c66"] {
  text-align: left !important;
  padding: 10px !important;
}

/*taxonomies checkboxes*/
.categorychecklist-holder {
  background-color: white !important;
  border: none !important;

}
.acf-form-submit {
  .acf-button  {
    margin: 10px 0 10px 20px;
    color: white;
    background-color: #73ae37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    max-height: 40px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 2px;
  }
}
