@keyframes rotation-cabinet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-cabinet {
  width: 100%;
  margin-bottom: 100px;

  &_loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Чтобы создать полупрозрачный фон */
    z-index: 999;

    &._loader-active {
      display: flex;
    }

    .loader-cabinet {
      width: 48px;
      height: 48px;
      border: 5px solid #73ae37;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation-cabinet 1s linear infinite;
    }

  }

  &_section{
    background-color: white;
    height: 100%;
    width: 100%;
    border: 1px solid black;
  }
  &_container{
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
    width: 100%;

    @media (max-width: $bp-large) {
      max-width: 1200px;
    }
  }
  &_header{}
  &_breadcrumbs{
    padding-top: 30px;
  }
  &_title{
    display: inline;
    font-size: 40px;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    color: black;
    padding: 30px 0 0;
    font-family: "PT Serif", serif;
    //border-bottom: 4px solid #fcb900;

    @media (max-width: $bp-small) {
      padding: 0;
      font-size: 30px;
    }
  }

  &_content {
    margin: 40px 0;
    width: 100%;
    background: #F2F2F2;
    border-radius: 5px;

  }

  &_credentials {

  }

  &_posts{}
}

.user-credentials {
  display: flex;
  flex-direction: column;
  padding: 20px;
  @media (max-width: $bp-small) {
    padding: 10px;
  }

  &_box{
    background-color: white;
    border-radius: 5px;
    padding: 30px 20px;
    display: flex;
    margin-bottom: 40px;

    @media (max-width: $bp-small) {
      padding: 30px 10px;
    }

  }
  &_avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    @media (max-width: $bp-small) {
      width: 60px;
      height: 60px;
      margin-right: 20px;

    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
  &_info{
    flex: 1;
  }
  &_login{
    font-size: 22px;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    color: black;
    font-family: "PT Serif", serif;
    margin: 10px 0;
    @media (max-width: $bp-small) {
      margin: 0 0 15px 0;
      font-size: 18px;
    }
  }
  &_email{
    font-size: 18px;
    color: #9b9b9b;
    @media (max-width: $bp-small) {
      font-size: 16px;
    }
  }
  &_control{
    display: flex;
    justify-content: flex-end;
    a {
      background-color: #F33950;
      color: white;

      &:hover {
      background-color: red;
      }
    }
  }
}

/*manage posts block*/
.manage-posts {
  width: 100%;
  &_title {
    display: inline;
    font-size: 35px;
    letter-spacing: 0.0625rem;
    line-height: 1.4;
    font-weight: 700;
    color: black;
    font-family: "PT Serif", serif;
    //border-bottom: 4px solid #fcb900;

    @media (max-width: $bp-small) {
      padding: 0;
      font-size: 25px;
    }
  }
  &_active{
    margin-top: 40px;
    width: 100%;
  }
  &_hidden{
    margin-top: 40px;
    width: 100%;
  }
}

.manage-posts_hidden .post-of-user {
//.manage-posts_hidden .post-of-user_content {
  opacity: 0.5; /* Делает элемент полупрозрачным */
  filter: grayscale(100%); /* Преобразует изображение в черно-белое */
  background-color: #f0f0f0; /* Светло-серый фон, можно настроить по вкусу */
  user-select: none; /* Отключает возможность выделения текста */
}

.user-posts {
  &_title{
    background-color: #F2F2F2;
    gap: 25px;
    border-radius: 5px;
    padding: 10px 10px 10px 15px;
    font-size: 20px;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    color: black;
    font-family: "PT Serif", serif;
  }
  &_content{
    width: 100%;

  }
  &_card{

  }
}

.post-of-user {
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding: 20px 10px;
  min-height: 200px;
  max-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  @media (max-width: $bp-small) {
    max-height: 450px;
    flex-direction: column;
  }

  &_link {

  }
  &_content{
    flex: 1;
    display: flex;
    gap: 20px;

    @media (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &_img {
    /*максимальная высота родителя минус падинги*/
  max-height: 210px;
  //max-height: 100%;
  flex: 0 0 200px;
    @media (max-width: $bp-small) {
      //max-height: 180px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &_text{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &_name{
    font-size: 18px;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    color: black;
    font-family: "PT Serif", serif;
    margin-bottom: 10px;
  }
  &_date{
    color: #9b9b9b;
  }

  &_btns{
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
    width: 100%;

    @media (max-width: $bp-small) {
      flex-direction: row;
      justify-content: space-between;
    }

  }
  &_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 140px;
    font-weight: 600;
    font-size: 17px;
    padding: 10px 15px;
    color: white;
    -webkit-box-shadow: 0px 5px 10px -9px rgba(34, 60, 80, 0.16);
    -moz-box-shadow: 0px 5px 10px -9px rgba(34, 60, 80, 0.16);
    box-shadow: 0px 5px 10px -9px rgba(34, 60, 80, 0.16);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:first-child {
      background-color: #75D00F;
    }

    &:last-child {
      background-color: #F33950;
    }

    &:hover {
      transform: translateY(-2px);
    }

  }

  &_error {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
    color: #9b9b9b;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.0625rem;
  }
}