.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  .current {
    color: $pagination_current_color;
    border: 1px solid $pagination_border_current_color;
    background-color: $pagination_current_background;
  }
}

.pagination a,
.pagination span {
  text-decoration: none;
  color: $pagination_color;
  padding: 8px 16px;
  margin: 0 4px;
  border: 1px solid $pagination_border_color;
  border-radius: $pagination_border_radius_setting;
  transition: background-color 0.3s;
}

.pagination a {
  background-color: $pagination_background;
}

.pagination span {
  color: $pagination_current_color;
  border: 1px solid $pagination_border_current_color;
  background-color: $pagination_current_background;
}

.pagination a:not(.current):hover {
  background-color: $pagination_background_hover;
}
