.recent-posts {
  background-color: $background-pink;


  .header-layout_linktext {
  color: white;
    &:hover {
      border-bottom: 2px solid white;
    }
  }

  .card-layout {
    background-color: transparent;
  }

  .card-layout_title {
    color: white;

  }

  .card-layout_excerpt {
    color: white;
  }
}