.sort-block {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;

  &_side {
    height: 100%;
    background-color: $background-light-gray;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: $bp-small) {
      justify-content: center;
    }

  }
}

.sort-dropdown-design_first {
  .sort-block_item {

    position: relative;
    width: 330px;
    border-radius: 25px;
    @media (min-width: $bp-xlarge) {
      width: 250px;
    }

    @media (max-width: $bp-small) {
      width: 100%;
    }
  }

  .sort-block_wrapper {
    width: 100%;
  }

  .sort-block_header {
    border: 0.5px solid $recipes_page_input_border;
    background-color: $recipes_page_input_bg;
    border-radius: 2px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    cursor: pointer;

    &.no-border {
      border-bottom: none;
    }
  }

  .sort-block_text {
    line-height: 22px;
    letter-spacing: 0.0625rem;
    font-size: 17px;
    color: $recipes_page_input_color;
  }

  .sort-block_btn {
    width: 50px;
    height: 50px;
    display: flex;
    border: 1px solid $recipes_page_btn_bg;
    border-radius: 0 2px 2px 0;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    background-color: $recipes_page_btn_bg;
  }

  .sort-block_arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $recipes_page_btn_color;
    transition: transform 0.3s ease-out;


  }

  .rotate-arrow {
    transform: rotate(180deg);
  }

  .sort-block_dropdown {
    position: absolute;
    width: 330px;
    background-color: $recipes_page_dropdown_bg;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    @media (min-width: $bp-xlarge) {
      width: 250px;
    }

    @media (max-width: $bp-small) {
      width: 100%;
    }
  }
}

.sort-dropdown-design_second {
  .sort-block_item {
    position: relative;
    width: 330px;
    border-radius: 25px;
    @media (min-width: $bp-xlarge) {
      width: 250px;
    }

    @media (max-width: $bp-small) {
      width: 100%;
    }
  }

  .sort-block_wrapper {
    width: 100%;
  }

  .sort-block_header {
    border-bottom: 2px solid $recipes_page_sort_border;
    //background-color: transparent;
    background-color: $recipes_page_input_bg;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    width: 100%;
    cursor: pointer;

    &.no-border {
      border-bottom: none;
    }
  }

  .sort-block_text {
    //text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 0.0625rem;
    font-size: 19px;
    color: $recipes_page_input_color;
  }

  .sort-block_btn {
    width: 30px;
    //width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    //background-color: yellow;
  }

  .sort-block_arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $recipes_page_sort_arrow_color;
    transition: transform 0.3s ease-out;


  }

  .rotate-arrow {
    transform: rotate(180deg);
  }

  .sort-block_dropdown {
    position: absolute;
    width: 330px;
    background-color: $recipes_page_dropdown_bg;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    @media (min-width: $bp-xlarge) {
      width: 250px;
    }

    @media (max-width: $bp-small) {
      width: 100%;
    }
  }
}


.dropdown-sort {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  //border: 1px solid red;

  &.show {
    max-height: 350px; /* Высота, когда блок видим */
    //max-height: 150px; /* Высота, когда блок видим */
    overflow-y: scroll;
  }

  label {
    display: flex;
    align-items: center;
    gap: 15px;
    color: $recipes_page_dropdown_color;
  }

  &_checkbox {
    line-height: 1.5rem;
    text-underline-offset: 0.1875rem;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.0625rem;

    &:hover {
      background-color: $recipes_page_dropdown_bg_hover;
    }
  }

  &_input {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    //padding: 0.1rem;
    border: 3px solid $recipes_page_checkbox_color;
    //border-radius: 0.5rem;
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      //clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
      transform: scale(0);
      background-color: $recipes_page_checkbox_color;
    }

    &:checked::before {
      transform: scale(1);
    }
  }
}

.catalog-posts_choosenFilters {
}

.choosenFilters {
  //padding: 20px 0;
  @media (max-width: $bp-small) {
    //padding: 20px 20px 20px 40px;
  }

  &_title {
    margin-bottom: 10px;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
  }

  &_item {
    //position: relative;
    min-width: 80px;
    max-width: 300px;
    height: 35px;
    background-color: $recipes_page_choosen_bg;
    border-radius: 2px;
    //border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $recipes_page_choosen_color;
    font-size: 18px;
    padding: 5px 10px;
    gap: 2px;
    cursor: pointer;

    &:hover {
      background-color: $recipes_page_choosen_bg_hover;
      color: $recipes_page_choosen_color_hover;
    }

    .remove-filter {
      position: relative;
      top: 0;
      right: 0;
      display: block;
      width: 25px;
      height: 25px;
      font-size: 0;
      background-color: transparent;

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 20px;
        background-color: $recipes_page_choosen_color;
        transform: rotate(45deg) translate(-50%, -50%);
        transform-origin: top left;
        content: '';
        &:hover {
          background-color: $recipes_page_choosen_color_hover;
        }
      }

      &:after {
        transform: rotate(-45deg) translate(-50%, -50%);
      }
    }
  }
}


