.full-width-section {
  width: 100vw;
  background-image: url('../images/plant-based-food-mc-220323-02-273c7b.jpg');
  background-size: cover;
  background-position: center;
  //background-attachment: fixed;
  height: 65vh;
  //height: 500px;
  h1 {
    color: #73ae37;
  }
}



.full-width-section img {
  max-width: 100%; /* Максимальная ширина изображения равна ширине секции */
  height: auto; /* Сохранение пропорций изображения */
}