.load-more {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  &_btn {
    background-color: $main-color;
    align-self: center;
    max-height: 40px;
    padding: 10px 30px;
    color: #fff;
    font-weight: 600;
    font-size: 0.95em;
    border-radius: 2px;
    text-transform: uppercase;
    &:hover {
      background-color: #ff00a8;
    }
  }
}